/* line 10, ../../scss/PITCHME.scss */
.ux {
  background: #225454;
}

/* line 14, ../../scss/PITCHME.scss */
.usability {
  background: #4f8080;
}

/* line 21, ../../scss/PITCHME.scss */
.reveal {
  font-size: 30px;
}
/* line 24, ../../scss/PITCHME.scss */
.reveal img {
  max-width: 90%;
  max-height: 320px;
}
/* line 29, ../../scss/PITCHME.scss */
.reveal .next {
  font-size: 80%;
}

/* line 34, ../../scss/PITCHME.scss */
.full {
  width: 100%;
}

/* line 41, ../../scss/PITCHME.scss */
.flex-full {
  display: flex;
  justify-content: space-around;
}
